<div 
  class="container" 
  [ngClass]="{'flipped': isFlippedHorizontally()}"
>
  <div class="name-tag">{{player.getUserName()}}</div>
  <div
    class="body-container"
    [ngClass]="{'flipped': isFlippedHorizontally()}"
  >
    <app-animation
      *ngIf="isPerformingAction()"
      [animationFolderPath]="getActionAnimationFolderPath()"
      [imageCount]="getActionAnimationImageCount()"
      [maxDuration]="getActionAnimationMaxDuration()"
      [(timePassed)]="currentAnimationTimePassed"
    ></app-animation>
    <img *ngIf="!isPerformingAction()" class="image" [src]="getImagePath()" />
  </div>
</div>